@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: "Noto Sans KR", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* font-family: "Lora", serif; */


* {margin:0; padding:0; box-sizing:border-box;}

body {
    font-family: "Noto Sans KR", sans-serif; font-size:16px; color:#333; font-weight:300;
    background:#fff; overflow:hidden;
}
h1,h2,h3,h4,h5,h6 {font-family: "Lora", serif; font-weight:600;}


/*========== contents ==========*/
.slides li {position:relative;} /* 배경이미지와 텍스트의 부모요소 */

.fs-bg-1 {background:url(../imgs/1.jpg) no-repeat center center; background-size:cover;}
.fs-bg-2 {background:url(../imgs/2.jpg) no-repeat center center; background-size:cover;}
.fs-bg-3 {background:url(../imgs/3.jpg) no-repeat center center; background-size:cover;}
.fs-bg-4 {background:url(../imgs/4.jpg) no-repeat center center; background-size:cover;}

@media screen and (min-width:1400px) {
    .fs-bg {height:500px;} /* 배경이미지 */

    .fs-contents { /* 텍스트 */
        position:absolute; left:15%; top:50%; width:100%;
        color:#f6f6f6; text-shadow:1px 1px 1px #000;
    }
    .fs-contents h2 {font-size:54px; color:rgba(105,205,185,0.6); text-transform:uppercase;}
    .fs-contents p {width:650px;}
}

@media screen and (min-width:1000px) and (max-width:1399px) {
    .fs-bg {height:400px;} /* 배경이미지 */

    .fs-contents { /* 텍스트 */
        position:absolute; left:15%; top:45%; width:100%;
        color:#f6f6f6; text-shadow:1px 1px 1px #000;
    }
    .fs-contents h2 {font-size:48px; color:rgba(105,205,185,0.6); text-transform:uppercase;}
    .fs-contents p {width:650px;}
}

@media screen and (min-width:700px) and (max-width:999px) { /* 모바일 영역 : 태블릿 */
    .fs-bg {height:500px;} /* 배경이미지 */

    .fs-contents { /* 텍스트 */
        position:absolute; left:0; top:45%; width:100%;
        color:#f6f6f6; text-align:center; text-shadow:1px 1px 1px #000;
    }
    .fs-contents h2 {font-size:42px; color:rgba(105,205,185,0.6); text-transform:uppercase;}
    .fs-contents p {width:60%; margin:0 auto;}
}

@media screen and (max-width:699px) { /* 모바일 영역 : 스마트폰 */
    .fs-bg {height:100vh;} /* 배경이미지 */
    /* 부모요소에 높이를 100%로 지정하고자 할때 %단위가 적용안된다. 이런 경우 vh 단위를 사용하여 적용하면 된다. */
    .fs-contents { /* 텍스트 */
        position:absolute; left:50%; top:45%; width:80%;
        color:#f6f6f6; text-align:center; text-shadow:1px 1px 1px #000;
        transform:translateX(-50%);
    }
    .fs-contents h2 {
        font-size:42px; color:rgba(105,205,185,0.6);
        text-transform:uppercase; line-height:48px;
    }
    .fs-contents p {display:none;}
}



/*========== prev + next button ==========*/
.flex-direction-nav a {height:80px;}
.flex-nav-prev i, .flex-nav-next i {font-size:40px;}


/*========== control button ==========*/
.flex-control-nav {bottom:20px;}
.flex-control-nav li a {background:#fc0;}
.flex-control-nav li a.flex-active {background:lightcoral;}